/* SITE GENERAL SETTINGS */
html{
    background-color: white;
}
body{
    margin: 1pc;
    background-size: cover;
}
img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.c-t{
    text-align: center;
}
hr{
    width: 80%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1pc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1pc;
    background: rgb(155, 78, 78);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 91, 91);
}
/* MEDIA QUERY */
@media (min-width: 320px){
    .e-s-1{
        height: 11pc;
    }
    .h2-m-3{
        font-size: medium;
    }
}

@media (min-width: 769px){
    .t-c-container{
        width: fit-content;
        height: fit-content;
        margin-bottom: 0px;
    }
    .c-form{
        box-shadow: 0px 11px 11px 10px #3a2e2e;
        z-index: 1;
        position: absolute;
        bottom: 15pc;
        height: 20pc;
        width: fit-content;
        padding: 1pc;
        margin: 0 28%;
        background-color: #b0b7b7;
        border-radius: 5px;
        transition: all 1000ms;
    }
    .payment-box{
        box-shadow: 0px 6px 14px 6px #6496bf;
        position: absolute;
        width: fit-content;
        left: 4pc;
        bottom: 35pc;
        margin: 0;
        padding: 1pc;
        border-radius: 1pc;
        background-color: aliceblue;
        z-index: 2;
    }
    .dash-xxiss-logo{
        height: 200px;
        width: 200px;
    }
    .stf-p-2{
        font-size: 10px;
    }
    .order-details-wrapper{
        position: relative;
        right: 9pc;
    }
    .admin-login-wrapper, .customer-login-wrapper, .customer-signup-wrapper{
        position: relative;
        left: 5%;
        background-color: #EFEFEF;
        height: 50%;
        width: 84%;
        padding: 1pc 0;
        border-radius: 1pc;
        margin: 0pc;
        column-gap: 1px;
    }
    /* trailer positioning  */
    .trailer-svg-1{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 58pc;
        left: 30pc;
    }
    .trailer-svg-2{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 90pc;
        left: 4pc;
    }
    .trailer-svg-3{
        display: flex;
        justify-content: center;
        position: absolute;
        right: 7pc;
        top: 125pc;
    }
    .trailer-svg-1 img, .trailer-svg-2 img, .trailer-svg-3 img{
        height: 200px;
        width: 250px;
    }
    .gt1t2 p, .gt2t1 p, .gt3t2 p{
        border-radius: 1pc;
        padding: 1pc;
        margin: 0 1pc;
        backdrop-filter: blur(2px);
        height: 67px;
        width: 302px;
    }
    /* LANDING PAGE */
    .grt-crsl img{
        height: 35pc;
        width: 90%;
    }
    /* NAVBAR SETTINGS */
    .main-nav-ul{
        display: grid;
        grid-template-columns: 30% 50%;
    }
    .stf-p{
        font-size: 16px;
    }
    .flr-p{
        display: grid;
        grid-template-columns: 27% 27% 27%;
    }
    .stf-li{
        font-size: 16px;
    }
    .g-t-m-s img, .floor-plan-svg{
        height: 225px;
        width: 215px;
    }
    .e-s-1{
        height: 12pc;
    }
}
@media (min-width : 1000px){
    .g-t-m-s img, .floor-plan-svg{
        height: 250px;
        width: 260px;
    }
}
@media (min-width: 1200px){
    .stf-p-2{
        font-size: 16px;
    }
    .c-form{
        z-index: 1;
        position: absolute;
        bottom: 15pc;
        height: 20pc;
        width: fit-content;
        padding: 1pc;
        margin: 0 28%;
        background-color: #b0b7b7;
        border-radius: 5px;
        transition: all 1000ms;
    }
    .payment-box{
        bottom: 5pc;
        left: 18pc;
    }
    .dash-xxiss-logo{
        height: 300px;
        width: 300px;
    }
    /* trailer positioning  */
    .order-details-wrapper{
        right: 11pc;
    }
    .admin-login-wrapper, .customer-login-wrapper, .customer-signup-wrapper{
        left: 25%;
        width: 50%;
        padding: 1pc 0;
        column-gap: 1px;
    }
    .trailer-svg-1{
        top: 68pc;
        left: 50pc;
    }
    .trailer-svg-2{
        top: 100pc;
        left: 6pc;
    }
    .trailer-svg-3{
        right: 11pc;
        top: 132pc;
    }
    .trailer-svg-1 img, .trailer-svg-2 img, .trailer-svg-3 img{
        height: 250px;
        width: 300px;
    }
    .gt1t2 p, .gt2t1 p, .gt3t2 p{
        height: 67px;
        width: 508px;
        font-size: 1pc;
    }
    /* LANDING PAGE */
    .grt-crsl img{
        height: 46pc;
        width: 100%;
    }
    /* NAVBAR SETTINGS */
    .main-nav-ul{
        grid-template-columns: 50% 50%;
    }
    /* floor plan */
    .flr-p{
    grid-template-columns: 33% 33% 33%;
    }
    .floor-plan-svg{
        height: 300px;
        width: 300px;
    }
    .d-m-1 img, .d-m-2 img, .g-t-m-s img{
        height: 280px;
        width: 330px;
        margin: 1pc 1pc;
    }
    .e-s-1{
        height: 12pc;
    }
}
/* THEME COLOR & VARIABLES */
:root{
    --hyper-color : #47B5FF;
    --dots-color : #b51e1e;
    --main-body : #F7F5F2;
    --footer-color : #DDDDDD;
}
.mf1{
    font-family: 'Noto Sans', sans-serif;
}
.tf1{
    font-family: 'Poppins', sans-serif;
}
.display-add-ons{
    display: block;
    height: 100%;
    width: fit-content;
}
.display-object{
    display: block;
    transition: all 3s ease-out;
}
.hide-object{
    display: none;
    transition: all 3s ease-out;
}
.disable-scroll{
    height: 100%;
    overflow: hidden;
}
.gls-effect{
    backdrop-filter: blur(3px);
}

/* NAV SETTINGS */
.main-nav{
    border-bottom: 1px solid rgb(189, 189, 189);
    height: 8pc;
    -webkit-box-shadow: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #da635d, -8px 0px 0px 0px #4e4e56, 0px 0px 0px 8px #da635d, 5px 5px 15px 5px rgb(155 255 219 / 0%);
    box-shadow: 7px 0px 0px 0px #1046cf, 0px 8px 0px 0px #a9433e, -8px 0px 0px 0px #d3d3e1, 0px 0px 0px 8px #a9433e, 5px 5px 15px 5px rgb(155 255 219 / 0%);
    border-radius: 5px;
}
.main-nav a{
    color: black;
    text-decoration: underline var(--main-body);
}
h2{
    text-align: center;
}
.lg-lo-dash{
    display: flex;
    justify-content: end;
    bottom: 40px;
    position: relative;
    right: 2pc;
}
.lg-lo-dash a{
    margin:0 1pc;
    text-decoration: none;
}
.i.fa-solid{
    color: var(--hyper-color);
}
.main-nav-ul ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}
.main-nav-ul li{
    transition: all 500ms;
    margin: 1pc;
    padding: 1pc;
    border-radius: 1pc;
    height: min-content;
}
.home-icon-img{
    position: relative;
    left: 3pc;
}
.main-nav-ul a{
    text-decoration: none;
}
.about:hover{
    text-decoration: underline white 2px;
}
.byo-trailer:hover{
    text-decoration: underline #df3fa2 2px;
}
.all-pr:hover{
    text-decoration: underline #349ad4 2px;
}
.sprt:hover{
    text-decoration: underline #970b30 2px;
    cursor: pointer;
}
.trailer-options{
    border: none;
    border-radius: 1pc;
}
.main-nav-ul .logo-li{
    position: relative;
    bottom: 3pc;
}
.direct-link{
    text-decoration: none;
    color: black;
    transition: color 250ms;
}
.direct-link:hover{
    color: #5b8cad;
}
.customer-cart{
    color: black;
    text-decoration: none;
}
/* CAROSUEL SETTINGS */
.crsl-b{
    left: 2pc;
}
.crsl-n{
    right: 2pc;
}
.grt-crsl{
    display: flex;
    justify-content: center;
}
.crsl-btn{
    position: relative;
    top: 15pc;
    height: fit-content;
    width: fit-content;
}
img{
    margin: 1pc;
}
/* dots setting */
.dots-imgs{
    display: flex;
    justify-content: center;
}
.dots-imgs ul{
    display: flex;
    list-style-type: none;
}
.dots-imgs li{
    transition: color 500ms;
    width: 2pc;
}
.dots-imgs li:hover{
    color: var(--hyper-color);
}
i.fa-solid.fa-circle-notch{
    transition: color 500ms;
    border-radius: 1pc;
}
i.fa-solid.fa-circle-notch:hover{
    color: var(--hyper-color);
}

/* FOOTER SETTINGS */
.cpy-r{
    display: block;
}
.fp{
    text-align: center;
    margin: 0;
}

/* ORDER ADD ONS SETTINGS */
.drop-down--ad-ons{
    background-color: #5a859f;
    border-radius: 5px;
    position: relative;
    right: 1pc;
    bottom: 4pc;
    z-index: 2;
    padding: 1pc;
    width: fit-content;
    -webkit-box-shadow: 0px 12px 20px -9px rgb(0 0 0 / 71%);
    box-shadow: 0px 12px 20px -9px rgb(0 0 0 / 71%);
}
.grid-add-ons-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 24pc;
    border: 1px white solid;
    border-radius: 5px;
    padding: 1pc;
}

/* SECTION SETTINGS */

/* pointer hover */
.pointer-1{
    color: inherit;
}
.pointer{
    color: var(--hyper-color);
}
.xx-f-s, .xx-t-s{
    width: 100%;
}

section{
    height: 30pc;
    border-radius: 1pc;
    opacity: 1;
}
h3{
    text-align: center;
}
/* TEMPLATE DIVS WILL BE IN CHRONOLOGICAL ORDER */
.g-t-1, .g-t-2, .g-t-3{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    border-radius: 1pc;
}

.gt1t1, .gt1t2, .gt2t1, .gt3t1, .gt3t2{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 320px;
}

/* .sections-wrapper{
    background: no-repeat url("../images/xxiss-background-img.jpg");
    background-size: cover;
    border-radius: 1pc;
    opacity: 0.5;
} */

/* hover effects */
.gt1t2 p, .gt2t1 p, .gt3t2 p{
    transition: all 500ms ease-in-out;
}
.gt1t2 p:hover{
    border-left: #47B5FF solid 2pc;
    backdrop-filter: blur(0px);
    transition: all 500ms ease-in-out;
}
.gt1t2 p:hover::after{
    content: 'Roamer';
    position: absolute;
    writing-mode: vertical-lr;
    left: -2pc;
    bottom: 24px;
}
.gt2t1 p:hover{
    border-right: #d5d5d5 solid 2pc;
    backdrop-filter: blur(0px);
    transition: all 500ms ease-in-out;
}
.gt2t1 p:hover::after{
    content: 'Grizzly';
    position: absolute;
    writing-mode: vertical-lr;
    left: 34pc;
    bottom: 24px;
}
.gt3t2 p:hover{
    border-left: #F87474 solid 2pc;
    backdrop-filter: blur(0px);
    transition: all 500ms ease-in-out;
}
.gt3t1{
    width: fit-content;
    border-radius: 1pc;
    width: 320px;
    height: 320px;
}
.gt3t1:hover{
    /* background-color: #b72323; */
    width: 320px;
    height: 320px;
}
.gt3t1 img{
    transition: height 500ms, width 500ms;
    width: 320px;
    height: 320px;
}
.gt3t1 img:hover{
    height: 280px;
    width: 280px;
}


.gt2t2{
    width: fit-content;
    border-radius: 1pc;
    align-items: center;
    height: 320px;
    position: relative;
    left: 28%;

}
.gt2t2:hover{
    /* background-color: white; */
    width: 320px;
    height: 320px;
}
.gt2t2 img{
    transition: height 500ms, width 500ms;
}
.gt2t2 img:hover{
    height: 280px;
    width: 280px;
}

.gt1t1{
    width: fit-content; 
    border-radius: 1pc;
}
.gt1t1 img{
    transition: height 500ms, width 500ms;
}
.gt1t1 img:hover{
    height: 280px;
    width: 280px;
}

section, img{
    margin: 1pc 0;
    border-radius: 3px;
}

.hyper-c{
    text-align: center;
    margin: 2pc 0;
}
.hyper-r{
    text-align: end;
}
.hyper-r-btn,.hyper-c-btn{
    position: relative;
    left: 168%;
    bottom: 4pc;
    height: fit-content;
    width: fit-content;
    border-radius: 1pc;
    background-color: var(--main-body);
    border: white 1px solid;
    transition: border 800ms;
}
.hyper-l-btn{
    transition: border 800ms;
}

.hyper-l-btn{
    position: relative;
    left: 16%;
    bottom: 4pc;
    height: fit-content;
    width: fit-content;
    border-radius: 1pc;
    background-color: var(--main-body);
    border: white 1px solid;
}
.hyper-l a, .hyper-r a, .hyper-c a, .hyper-c a:hover{
    text-decoration: none;
    color: var(--hyper-color);
    border: 1px solid;
    padding: 3px;
    border-radius: 4px;
    transition: padding 800ms;
}
.hyper-l a:hover, .hyper-r a:hover, .hyper-c a:hover{
    padding: 8px;
    background-color: var(--hyper-color);
    color: white;
}
.ord-n-btn:hover, .chk-specs-btn:hover{
    background-color: var(--hyper-color);
    color: white;
}

/* FOOTER */
footer{
    background-color: var(--footer-color);
    display: flex;
    justify-content: center;
}
footer ul{
    display: flex;
    margin: 0;
    padding: 0;
}

footer div{
    display: inline-block;
    margin: 0 4pc;
}
/* footer h3{
    text-decoration: underline;
} */

/* CONTACT FORM */
/* i.fa-solid.fa-xmark:hover{
    color: white;
} */
.modal-close{
    height: 1pc;
    width: 1pc;
    position: relative;
    z-index: 2;
}
.modal-close:hover, .t-c-container:hover{
    cursor: pointer;
    border-radius: 1pc;
}
.sprt-form{
    display: flex;
    justify-content: center;
}
.c-form-blur{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(3px);
    transition: all 1000ms;
}
.u-img{
    height: 100%;
    width: 100%;
}
.g-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2pc;
    width: min-content;
    margin: 1pc;
}
.g-form-in{
    position: relative;
    width: min-content;
}
.g-form-in input, .u-email{
    margin-bottom: 5px;
    padding: 3px;
    border: none;
    border-bottom: #7d8489 1px solid;
    background-color: transparent;
    outline: none;
}
input:focus, .u-email:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--hyper-color);
}
.g-form-txt{
    width: min-content;
}
.g-form-txt textarea{
    border-radius: 5px;
    padding: 1px;
}
textarea:focus{
    outline: none;
}
.g-form-txt button{
    position: relative;
    left: 90px;
    background-color: var(--hyper-color);
    border-radius: 1pc;
    border: #dadadf solid 3px;
    padding: 4px;
    height: 30px;
    width: 33%;
    transition: border 500ms;
}
.g-form-txt button:hover{
    border: var(--hyper-color) 3px solid;
}
.selected-item{
    display: none;
}
/* CREATOR CREDITS */
.managed-developed{
    content: 'creator ig : carlitos.code';
}

/* ABOUT PAGE */
.abt-specs-1, .abt-specs-2{
    display: flex;
    justify-content: space-evenly;
}
.about-us{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3pc 0;
}
.about-us p{
    width: 53%;
    font-size: 21px;
}
.abt-specs-1 a, .abt-specs-2 a, .t-c-container{
    color: var(--hyper-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 1pc;
    transition: all 500ms;
    border: 1px solid white;
}
.abt-specs-1 a:hover, .abt-specs-2 a:hover, .t-c-container:hover{
    border: 1px solid var(--hyper-color);
}
.w-p-p
.register-warr-form-wrapper{
    display: flex;
    justify-content: center;
}

.w-t{
    color: #7d7e7e;
}
.w-t a{
    text-decoration: none;
    color: white;
}
.w-t p{
    text-align: center;
}
.d-m-1{
    display: flex;
    justify-content: center;
    margin-top: 5pc;
}
.d-m-2{
    display: flex;
    justify-content: center;
}

/* SPECS PAGE */
.b-w-i-container{
    position: absolute;
    right: 6pc;
}
.b-w-i{
    height: 66px;
    width: 200px;
}
.m-b{
    font-weight: bold;
}
table{
    display: flex;
    justify-content: center;
    border-spacing: 60px 8px;
    text-align: center;
}
.t-h td{
    background-color: #295bd9;
    padding: 2px;
    white-space: nowrap;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}
.floor-plan-container{
    display: flex;
    justify-content: center;
}
.p-c-r-d{
    margin: 0;
    font-weight: bold;
}
.specs-item-d{
    margin-bottom: 3pc;
}
.g-t-specs{
    display: grid;
    align-items: center;
    grid-template-columns: 40% 50%;
}
.specs-info{
    list-style-type: none;
    margin-left: 3pc;
    display: flex;
    justify-content: center;
    text-decoration: 1px underline black;
}
.specs-info{
    list-style-type: none;
    margin-left: 3pc;
    display: flex;
    justify-content: center;
    text-decoration: 1px underline black;
}
.specs-info-1{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-left: 3pc;
}
.specs-info li{
    margin-right: 1pc;
}
.specs-info-1 li{
    margin-right: 1pc;
}
.hr-just{
    margin: 5pc 5pc;
}
.hr-just-footer{
    margin: 1pc 5pc;
}
.flr-plan h3{
    text-align: center;
}

/* ALL PRODUCTS  */
.r-i-w, .f-i-w{
    position: absolute;
    display: inline-block;
    width: 23%;
    top: 66%;
    left: 18pc;
    z-index: 1;
}
.i-sel-2{
    position: absolute;
    left: 17pc;
    top: 49pc;
}
.i-sel-3{
    position: absolute;
    left: 17pc;
    top: 77pc;
}
.r-i-w-t-2, .f-i-w-2{
    position: absolute;
    top: 51pc;
    left: 17pc;
    z-index: 1;
}
.r-i-w-t-3, .f-i-w-t-3{
    position: absolute;
    top: 79pc;
    left: 17pc;
}
.b-t{
    border: 1px solid;
    padding: 2px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 11px -4px #000000;
    box-shadow: 0px 5px 11px -4px #000000;
}
.m-i-s{
    height: 60px;
    width: 58px;
}
.page-title{
    text-align: center;
}
.testScen{
    text-decoration: none;
    color: inherit;
}
.open-d-b:hover{
    text-decoration: underline;
}
.p-o-btn, .payment-btn-receiptpg{
    background-color: #7ac9ff;
    border: #dadadf solid 3px;
    border-radius: 1pc;
    padding: 4px;
    height: 30px;
    width: 27%;
    transition: border 500ms;
}
.p-o-btn:hover, .payment-btn-receiptpg:hover{
    border: var(--hyper-color) 3px solid;
}
.t-m-1, .t-m-2, .t-m-3{
    display: grid;
    grid-template-rows: 13% 88%;
    text-align: center;
    margin-bottom: 2pc;
}
.grid-template-alpro-t1, .grid-template-alpro-t2, .grid-template-alpro-t3{
    display: grid;
    grid-template-columns: 50% 50%;
    border: 0 white;
    border-radius: 1pc;
    transition: border-left 500ms ease-in-out, border-right 500ms ease-in-out;
}
.c-color-div{
    text-align: center;
}
.x-mark-close-icon{
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
}
.x-mark-close-icon span{
    border: none;
}
i.fa-solid.fa-xmark.close-drop-box.close-roam, i.fa-solid.fa-xmark.close-drop-box.close-coyote, i.fa-solid.fa-xmark.close-drop-box.close-sparta{
    padding: 4px;
    height: 17px;
    width: 18px;
    border-radius: 49px;
    transition: 1000ms all;
    border: white;
}
i.fa-solid.fa-xmark.close-drop-box.close-roam:hover, i.fa-solid.fa-xmark.close-drop-box.close-coyote:hover, i.fa-solid.fa-xmark.close-drop-box.close-sparta:hover{
    border: 1px solid white;
    border-radius: 49px;
}
.c-color-div p{
    position: relative;
    top: 0pc;
    right: 13pc;
}
.t-img{
    position: relative;
    top: 6pc;
}
.t-img img{
    width: 300px;
}
.bl-o-cl{
    display: flex;
    height: 113px;
    width: 13pc;
    min-width: 13pc;
}
.bl-o-cl ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}
.not-selected{
    margin: 1pc;
    width: 2pc;
    height: 2pc;
    border-radius: 0;
    transition: border-radius 200ms;
}
.not-selected:hover{
    border-radius: 5px;
}
.bl-o-cl-selected{
    width: 3pc;
    height: 3pc;
    border-radius: 5px;
    transition: all 500ms;
}
.bl-o-cl ul li:nth-child(1){
    background-color: #ffffff;
    border: 1px solid;
}
.bl-o-cl ul li:nth-child(2){
    background-color: #36454F;
}
.bl-o-cl ul li:nth-child(3){
    background-color: #355E3B;
}
.bl-o-cl ul li:nth-child(4){
    background-color: #4169e1;
}
/* ADD ONS  */
.remove-height{
    height: 0;
}
.add-height{
    height: 200px;
}
/* .addons1, .addons2, .addons3{
    height: 200px;
} */

/* CUSTOMER RECEIPT  */
.img-cc{
    height: 200px;
}
.space-holder{
    position: relative;
    top: 3pc;
    left: 24%;
    height: 15pc;
    border-radius: 1pc;
    width: fit-content;
}
.payment-btn-submit{
    margin: 1pc 0;
    display: flex;
    position: relative;
    left: 10pc;
}
.cnf-pur-txt{
    position: relative;
    right: 4pc;
    top: 1pc;
}
.xxiss-trust{
    position: absolute;
    left: 10pc;
    top: 35pc;
}
.txt-und{
    text-decoration: underline;
}
.img-trust{
    height: 67px;
    width: 150px;
}
.pur-itt{
    position: relative;
    top: 3pc;
}
.success-msg-wrapper{
    position: absolute;
    left: 8pc;
    width: 12pc;
    background-color: #75c875;
    padding: 1pc;
    border-radius: 1pc;
    z-index: 1;
}
.w-txt-1{
    position: relative;
    top: 3pc;
    left: 1pc;
}
.payment-btn-receiptpg{
    background-color: #7ac9ff;
    border: #dadadf solid 3px;
    border-radius: 1pc;
    height: 30px;
    width: 66%;
    transition: border 500ms;
}
.payment-btn-receiptpg:hover{
    border: var(--hyper-color) 3px solid;
}
.payment-form-container{
    display: flex;
    justify-content: center;
    padding-top: 3pc;
    border-radius: 1pc;
    box-shadow: 1px 0px 15px 7px #b3b1ad;
}
.payment-form-container input{
    margin: 1pc;
    border: 1px solid;
}
.card-number, .card-holder, .card-exp, .card-cvv{
    border: none;
    outline: none;
}
.lklk{
    text-decoration: none;
    transition: color 500ms;
    color: black;
}
.lklk:hover{
    color: white;
}
.tru-cards-wrapper{
    position: absolute;
    left: 8pc;
    bottom: 60px;
    width: 30pc;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
}
.tru-cards-wrapper img{
    height: 20px;
    width: 120px;
    margin:0;
}
.order-receipt{
    border-radius: 1pc;
    box-shadow: 1px 0px 15px 7px #b3b1ad;
}
.t-t, .r-b{
    text-align: center;
}
.receipt-order-img{
    margin: 10px;
    position: relative;
    top: 4pc;
    height: 300px;
    width: 300px;
}
.order-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1pc;
    margin: 5pc 1pc;
}
.order-details-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
/* ADMIN DASH */
.beg-ord{
    margin: 4px 0;
    border: 1px solid #599759;
    background-color: #599759;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.del-ord{
    margin: 4px 0;
    border: 1px solid #e63535;
    background-color: #e63535;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.beg-ord:hover, .del-ord:hover{
    cursor: pointer;
}
.orders{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.orders li{
    margin-bottom: 1pc;
}
.db-search-bar{
    display: flex;
    justify-content: end;
}
.greet-admin-opt{
    display: flex;
    justify-content: end;
}
.logo-wrapper{
    border-bottom: 3px solid var(--footer-color);
}
.cmpny-logo{
    height: 150px;
    width: 150px;
}
.orders-dash-wrapper{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.new-order-g-t, .current-order-g-t, .completed-order-g-t{
    border-radius: 5px;
    margin: 3px;
}
.new-order-g-t{
    background-color: #5c9ac5;
}
.current-order-g-t{
    background-color: #e5cf4a;
}
.completed-order-g-t{
    background-color: #dd3663;
}
/* .newmsg-g-t{
    background-color: #78938A;
} */
.c-m-g-t-mm{
    margin-top: 1pc;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 1pc;
    background-color: aquamarine;
    padding: 1pc;
    border-radius: 1pc;
    -webkit-box-shadow: 2px 14px 15px 1px #99A3B0; 
    box-shadow: 2px 14px 15px 1px #99A3B0;
}
.admin-dash-txt{
    text-decoration: underline;
}
.chk-msg-container{
    display: flex;
    justify-content: end;
}
.chk-msg-container a{
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 1pc;
    transition: border 500ms;
}
.chk-msg-container:hover{
    border: var(--hyper-color);
}
.fa-message{
    color: var(--hyper-color);
}
.cust-msgs{
    width: fit-content;
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    background-color: #f1e4d2;
    padding: 10px;
    border-radius: 1pc;
    -webkit-box-shadow: 2px 14px 15px 1px #99A3B0; 
    box-shadow: 2px 13px 8px 0px #626b76;
}
/* LOGIN ADMIN */
.customer-login-wrapper{
    display: flex;
    justify-content: center;
    transition: background-color 500ms;
}
.login-container, .sign-up-container{
    padding: 0 3pc;
    border: 1px solid;
    margin: 6px;
    border-radius: 1pc;
    transition: box-shadow 500ms, border-left 500ms, border-right 500ms, border-top 500ms, border-bottom 500ms;
}
.login-container:hover, .sign-up-container:hover{
    border-top: 1px solid white;
    border-right: 4px solid #a10035;
    border-bottom: 4px solid #18978f;
    border-left: 4px solid #a10035;
    -webkit-box-shadow: 2px 14px 15px 1px #99A3B0; 
    box-shadow: 2px 14px 15px 1px #99A3B0;
}
.admin-form-container, .customer-form-container, .customer-signup-form-container{
    display: flex;
    justify-content: center;
}
.admin-form-lg input, .customer-form-lg input, .customer-signup-form-lg input{
    display: flex;
    justify-content: center;
    margin-bottom: 1pc;
    border: none;
    outline: none;
}
.admin-form-lg input:hover, .admin-form-lg input:hover, .customer-signup-form-lg input:hover,   .customer-form-lg input:hover{   
    border-bottom: 1px solid var(--hyper-color);
}
.admin-form-lg input:focus, .admin-form-lg input:focus, .customer-signup-form-lg input:focus, .customer-form-lg input:focus{
    border-bottom: 1px solid var(--hyper-color);
}
.lock-icon-container{
    display: flex;
    justify-content: center;
}
.lock-icon{
    height: 100px;
}
.customer-login-btn{
    position: relative;
    bottom: 20px;
}
.admin-login-btn, .customer-login-btn, .signup-login-btn{
    display: flex;
    justify-content: center;
    margin: 1pc;
    border-radius: 2pc;
}
.admin-login-btn button, .customer-login-btn button, .signup-login-btn button{
    background-color: var(--hyper-color);
    border: white solid 3px;
    border-radius: 1pc;
    padding: 4px;
    height: 30px;
    width: 50%;
    transition: border 500ms;
}
.admin-login-btn button:hover, .customer-login-btn button:hover, .signup-login-btn button:hover{
    border:  var(--hyper-color) 3px solid;
}
.logout-hyper{
    color: var(--hyper-color);
    text-decoration: none;
}
/* SEARCH BUTTON */
.search-icon-btn{
    border: none;
    outline: none;
    transition: color 500ms;
}
.search-icon-btn:hover{
    color: var(--hyper-color);
}
div .logout-hyper{
    display: flex;
    justify-content: end;
    margin: 0;
}
.log-out-container{
    display: flex;
    justify-content: end;
    margin: 0;
}
.log-out-container p{
    margin: 0 0 1pc 0;
    width: fit-content;
}

/* LOGIN-LOGOUT DIV */
.log-container{
    display: flex;
    justify-content: end;
}
.log-container ul{
    list-style-type: none;
    box-shadow: 0px 0px 10px 2px grey;
    width: fit-content;
    padding: 1pc;
    border-radius: 1pc;
    margin: 1pc 0;
}

/* ERROR MESSAGE */
.customer-msg-error{
    position: relative;
    display: flex;
    justify-content: center;
    top: 14pc;
    height: 6pc;
    left: 33pc;
    width: fit-content;
}
.err-msg{
    width: 15pc;
    padding: 1pc;
    background-color: #dd3663;
    text-align: center;
    border-radius: 5px;
    z-index: 2;
    -webkit-box-shadow: -2px 10px 14px 2px rgb(217 107 107); 
    box-shadow: -2px 10px 14px 2px rgb(217 107 107);
}
.cpny-logo{
    height: 100px;

}

/* CUSTOMER DASH BOARD */
/* .cc-card-div{
    position: absolute;
    left: 2pc;
    bottom: 8pc;
} */
.cc-card-div img{
    display: flex;
    justify-content: center;
    height: 120px;
    width: 220px;
}
.img-holder-container{
    display: flex;
    justify-content: center;
}
.grt-wel{
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 41%;
}
.payment-btn{
    background-color: #7ac9ff;
    border: #dadadf solid 3px;
    border-radius: 1pc;
    padding: 4px;
    height: 30px;
    transition: border 500ms;
}
.payment-btn:hover{
    border: var(--hyper-color) 3px solid;
}
.payment-btn-a{
    text-decoration: none;
    color: black;
}
.order-detail-container{
    width: 50%;
    border-radius: 1pc;
    -webkit-box-shadow: -2px 10px 14px 2px rgba(0,0,0,0.79); 
    box-shadow: -2px 10px 14px 2px rgb(217 107 107);
}
.order-detail-container h2{
    margin-bottom: 0;
    padding-top: 1pc;
}
.order-detail-container ul{
    list-style-type: none;
}
.order-details-wrapper, .order-details{
    display: flex;
    justify-content: center;
}
.cust-logout, .h-l-t{
    text-decoration: none;
    color: black;
    transition: color 500ms;
}
.cust-logout:hover, .h-l-t:hover{
    color: #5b8cad;
}
.close-payment-box{
    transition: color 250ms;
}
.close-payment-box:hover{
    color: var(--hyper-color);
}
.mke-pymt{
    display: flex;
    justify-content: center;
}
.mke-pymt button{
    border-radius: 1pc;
    background-color: var(--hyper-color);
    border: #dadadf solid 3px;
    padding: 4px;
    height: 30px;
    width: fit-content;
    transition: border 500ms;
}
.mke-pymt button:hover{
    border: var(--hyper-color) 3px solid;
}

.make-payment-container input{
    margin: 1pc;
    border: none;
    outline: none;
    border-radius: 1pc;
}

/* LIVE CHAT SETTINGS  */
.messages-c div{
    margin: 5px 0px;
    width: fit-content;
    padding: 4px;
    border-radius: 4px;
}
/* CUSTOMER MESSAGE */
.messages-c div:nth-child(odd){
    background-color: orange;
    color: white;
}
.messages-c div:nth-child(2n){
    background-color: var(--hyper-color);
    color: white;
    position: relative;
    left: 84px;
}
/* ADMIN MESSAGE */
.live-chat-modal-container{
    border: 1px solid;
    width: 232px;
    padding: 1pc;
}
.s-m-lc{
    background-color: #dbd5d5;
    border: none;
    border-radius: 6px;
    padding: 5px;
}
.i-l-c{
    transition: all 500ms;
    border: 1px solid;
}
.i-l-c:focus{
    border-bottom: 1px solid;
    border-radius: 0px;
}

/* UNDER CONSTRUCTION SETTINGS */
.u-con-div{
    display: flex;
    justify-content: center;
    height: 33pc;
    align-items: center;
    background-image: url('../images/undercon-img.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.u-con-div h2{
    position: relative;
    top: 12pc;
}
.under-email-contact{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1pc;
}
.e-s-1{
    margin: 1pc;
}
.msgBoxUC{
    position: absolute;
    left: 47pc;
    bottom: -10px;
}
.msgBox-wrapper{
    background-color: green;
    width: fit-content;
    margin: 0% 40%;
}
/* BLOG SETTINGS */
.blog-image-size-set{
    height: 100%;
}
.grid-set{
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 30pc;
}
.grid-set div{
    height: 20pc;
}

/* BUILD YOUR OWN TRAILER */
.nn {
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px;
}
.g-q-byo div{
    margin: 9px;
}
.e-s-3{
    height: 3pc;
}
.i-h{
    font-weight: bolder;
}
.g-q-byo:nth-child(n+2):nth-child(-n+14){
    border: none;
}
.next-arr{
    transform: rotate(180deg)
}
.q-8-b-s-3{
    position: absolute;
    bottom: 42%;
    left: 5pc;
}
.q-8-b-s-4{
    position: absolute;
    bottom: 28%;
    left: 25pc;
    transition: background-color 800ms;
    width: 33pc;
    background-color: #ffffff;
    padding-left: 1pc;
    border-radius: 1pc;
    -webkit-box-shadow: 0px 6px 18px -2px #000000;
    box-shadow: 0px 6px 18px -2px #000000;
}
.q-10-b-s-4{
    position: relative;
    left: 3pc;
    bottom: 70px;
    padding: 1px;
}
.q-11-b-s-4-1-1,
.q-11-b-s-4-1-2,
.q-13-b-s-4{
    position: relative;
    left: 3pc;
    bottom: 70px;
    padding: 1px;
}
.q-11-b-s-4{
    position: relative;
    left: 3pc;
    bottom: 136px;
    padding: 1px;
}
.quick-pay-dash-wrapper{
    display: flex;
    justify-content: center;
}
.quick-pay-dash{
    width: 100px;
}
.q-8-b-s-3,
.q-11-b-s-4-1-1,
.q-11-b-s-4-1-2,
.q-11-b-s-4-1-3,
.q-13-b-s-4,
.q-8-b-s-a,
.q-10-b-s-4
{
    transition: background-color 800ms;
    width: 38pc;
    background-color: #ffffff;
    padding-left: 1pc;
    border-radius: 1pc;
    -webkit-box-shadow: 0px 6px 18px -2px #000000; 
    box-shadow: 0px 6px 18px -2px #000000;
}
.q-11-b-s-4-1-3{
    width: 8%;
}
.q-1-b-s:hover,
.q-8-b-s:hover,
.q-8-b-s-2:hover,
.q-8-b-s-a:hover,
.q-8-b-s-3:hover,
.q-8-b-s-4:hover,
.q-11-b-s-4:hover,
.q-11-b-s-4-1-1:hover,
.q-11-b-s-4-1-2:hover,
.q-11-b-s-4-1-3:hover,
.q-13-b-s-4:hover,
.q-8-b-s-a:hover,
.q-8-b-s-3-a:hover,
.q-8-b-s-bb:hover,
.q-8-bb-s-2:hover,
.q-8-b-s-4:hover,
.q-10-b-s-4:hover
{
    background-color: #103e4e;
    color: white;
}
.clickedOpt{
    background-color: #103e4e;
    color: white;
    border-radius: 3px;
    padding-left: 5px;
}
.q-8{
    display: grid;
    grid-template-rows: 50% 50%;
}
.q-h-4{
    text-align: left;
}
.q-3-h{
    text-align: center;
}
.e-s-2{
    height: 8pc;
}
.e-s-3{
    height: 2pc;
}
.i-p p{
    width: 50%;
}
.i-p{
    display: flex;
    justify-content: center;
    text-align: center;
}
.sbauys{
    display: flex;
    justify-content: center;
}
.q-1-b-s p, 
.q-10-b-s-4 p,
.q-11-b-s-4-1-1 p,
.q-11-b-s-4-1-2 p
{
    margin-left: 10px;
}
.q-1-b-s{
    border-radius: 6px;
    -webkit-box-shadow: 0px 6px 18px -2px #000000; 
    box-shadow: 0px 6px 18px -2px #000000;
    transition: background-color 500ms;
}
.q-8-b-s,
.q-8-b-s-2,
.q-8-b-s-bb,
.q-8-bb-s-2,
.q-8-b-s-3-a
{
    position: absolute;
    bottom: 56%;
    left: 5pc;
    transition: background-color 800ms;
    width: 33pc;
    background-color: #ffffff;
    padding-left: 1pc;
    border-radius: 1pc;
    -webkit-box-shadow: 0px 6px 18px -2px #000000; 
    box-shadow: 0px 6px 18px -2px #000000;
}
.q-8-b-s-3-a{
    bottom: 42%;
}
.q-8-b-s-bb{
    bottom: 65%;
}
.q-8-bb-s-2{
    bottom: 53%;
}
.q-8-b-s-a{
    position: absolute;
    bottom: 3%;
    left: 5pc;
    width: 34pc;
}
.q-8-b-s-2{
    bottom: 44%;
}
.q-8-b-s-3{
    position: absolute;
    bottom: 28%;
    left: 5pc;
}
.q-9-wrapper{
    padding: 1pc;
    border: 1px solid grey;
    border-radius: 1pc;
    margin: 1% 25%;
    width: 50%;
    -webkit-box-shadow: 0px 6px 18px -2px #000000; 
    box-shadow: 0px 6px 18px -2px #000000;
}
.q-11{
    display: grid;
    grid-template-rows: 33% 33% 33%;
}
.q-12-b-s-4-txt{
    display: flex;
    justify-content: center;
}
.q-11-wrapper,
.q-12-wrapper,
.q-12-2-wrapper, 
.q-13-wrapper,
.q-13-2-wrapper,
.q-14-wrapper, 
.q-14-2-wrapper,
.q-15-wrapper, 
.q-15-2-wrapper, 
.q-2-2{
    border: 1px solid;
    padding: 21px;
    width: 56%;
    border-radius: 3px;
    margin: 0 20%;
}
.q-1-wrapper,
.q-6,
.q-4-wrapper,
.q-5-wrapper,
.q-11-wrapper,
.q-12-wrapper,
.q-12-2-wrapper,
.q-13-wrapper, 
.q-13-2-wrapper,
.q-14-wrapper, 
.q-14-2-wrapper,
.q-15-wrapper, 
.q-15-2-wrapper, 
.q-2-2{
    padding: 1pc;
    border: 1px solid grey;
    border-radius: 1pc;
    margin-bottom: 1pc;
    -webkit-box-shadow: 0px 6px 18px -2px #000000; 
    box-shadow: 0px 6px 18px -2px #000000;
}
.q-2-2{
    width: 85%;
    margin: 0px 7%;
}
.q-5-wrapper{
    position: relative;
    left: 20pc;
    width: 50%;
}
.q-7-wrapper{
    position: relative;
    left: 20pc;
    width: 50%;
    padding: 1pc;
    border: 1px solid grey;
    border-radius: 1pc;
    margin-bottom: 1pc;
    -webkit-box-shadow: 0px 6px 18px -2px #000000; 
    box-shadow: 0px 6px 18px -2px #000000;
}
.e-p{
    width: 100%;
}
.q-1-h{
    text-align: left;
}
.q-1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    margin: 2pc 0;
    color: grey;
}
.q-2, .q-4{
    display: grid;
    grid-template-columns: 25% 23% 23% 25%;
    column-gap: 10px;
    margin: 2pc 0;
    color: grey;
}
.st-1-byo-img{
    height: 300px;
    width: 350px;
}
.st-8-byo-img{
    height: 40px;
    width: 40px;
}
.st-2-byo-img{
    height: 260;
    width: 200px;
}
.g-q-byo{
    width: 86%;
    display: grid;
    grid-template-columns: 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88% 5.88%;
    text-align: center;
    margin: 0 7%;
}
.s-n-b-a{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    -webkit-box-shadow: 0px 5px 11px -4px #000000;
    box-shadow: 0px 5px 11px -4px #000000;
    transition: background-color 1000ms;
    font-weight: bolder;
    font-size: 20px;
    background-color: var(--hyper-color);

}
.s-n-b-a:hover{
    border: 1px solid black;
    border-radius: 5px;
}
.s-n{
    border: 1px solid #cfbfbf;
    border-radius: 5px;
    padding: 3px;
    background-color: var(--hyper-color);
    transition: border 300ms;
    font-weight: bolder;
    font-size: 20px;
}
.s-n:hover{
    border: 1px solid black;
    border-radius: 5px;
}
.w-p-i input, .w-p-:hover{
    margin: 0 0 2pc 0;
}
.r-span, .f-span, .r-span-2, .f-span-2, .r-span-3, .f-span-3{
    transition: all 600ms;
}
/* MESSAGES */
.mi-sp, .f-sp, .p-sp, .e-sp, .m-sp, .r-sp{
    padding: 2px;
    border-radius: 3px;
    color: white;
}
.r-sp{
    background-color: cadetblue;
}
.a-span{
    position: relative;
    top: 8px;
}
.e-sp{
    background-color: #7090d8;
    border: 1px solid #7090d8;
}
.m-sp{
    background-color: tomato;
    border: 1px solid tomato;
}
.mi-sp{
    background-color: #585858;
    border: 1px solid #585858;
}
.f-sp{
    background-color: tomato;
    border: 1px solid tomato;
}
.p-sp{
    background-color: #7db175;
    border: 1px solid #7db175;
}
.a-b-d{
    text-decoration: none;
    color: black;
}
.a-b-d:hover{
    color: var(--hyper-color);
}
.i-sel span, .i-sel-2 span, .i-sel-3 span{
    margin: 0 16px;
}
.i-sel{
    position: absolute;
    top: 22pc;
    left: 18pc;
}
.trans-txt-wrapper{
    position: absolute;
    right: 4pc;
    top: 54pc;
}
.trans-txt-wrapper img{
    height: 2pc;
}
.sel-items-ul li{
    list-style-type: none;
    margin: 1pc;
}
.ul-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}
.ul-wrapper div:nth-child(1){
    text-align: center;
}
.f-w-byo{
    display: flex;
    justify-content: center;
    margin: 3pc 0;
}
.byo-btn{
    border: 1px solid;
    border-radius: 1pc;
    background-color: transparent;
    padding: 4px 1pc;
    transition: color 200ms;
}
.byo-btn:hover{
    color: var(--hyper-color);
}
/* TESTINGG THE LOADER SPINNER */
.wrapper
        {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 142px;
            height: 40px;
            margin: -20px 0 0 -71px;
            background: transparent;
            filter: contrast(20);
        }
        .dot
        {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 12px;
            left: 5px;
            filter: blur(2px);
            background: #000;
            border-radius: 50%;
            transform: translateX(0);
            animation: dot 2.8s infinite;
        }
        .dots
        {
            transform: translateX(0);
            margin-top: 12px;
            margin-left: 31px;
            animation: dots 2.8s infinite;
        }
            span .dotty
        {
            display: block;
            float: left;
            width: 16px;
            height: 16px;
            margin-left: 16px;
            filter: blur(4px);
            background: #000;
            border-radius: 50%;
        }

        @keyframes dot
        {
        50%
            {
            transform: translateX(96px);
            }
        }
        @keyframes dots
        {
        50%
            {
            transform: translateX(-31px);
            }
        }
.sect-ans{
    background-color: #5BB318;
}
.send-2-sup{
    margin: 1pc;
}
.send-2-suptxt{
    text-decoration: none;
    color: black;
    margin: 1pc;
    transition: text-decoration 1000ms;
}
.send-2-suptxt:hover{
    text-decoration: underline;
}
/* ADMIN MESSAGES COUNT */
.dashboard-order{
    border-bottom: 1px solid #483e3e;
    margin: 5px;
}
.msg-count{
    position: absolute;
    right: 13px;
    top: 316px;
    font-size: 12px;
    color: white;
}
.not-dot{
    position: absolute;
    right: 9px;
    top: 315px;
    padding: 8px;
    background-color: red;
    border-radius: 16px;
}
.adjust-height-s{
    position: relative;
    top: 5pc;
}
.sl-border{
    border: 1px solid black;
}
.ord-n-btn{
    position: relative;
    right: 17pc;
    top: 43px;
    padding: 10px;
    border: 1px solid var(--hyper-color);
    color: var(--hyper-color);
    border-radius: 5px;
    z-index: 2;
}
.chk-specs-btn{
    position: relative;
    right: 10pc;
    bottom: 45px;
    text-decoration: none;
    color: var(--hyper-color);
    border: 1px solid;
    padding: 6px;
    border-radius: 5px;
}
.stf-li{
    list-style-type: none;
}
.feature-hr{
    width: 100%;
    margin: 1pc 0;
}
.rtn-hm-wrapper{
    position: absolute;
    left: 4pc;
    width: fit-content;
}
.rtn-hm-wrapper-1{
    position: absolute;
    left: 4pc;
    top: 11pc;
    width: fit-content;
    border: 1px solid;
    padding: 2px 4px;
    border-radius: 19px;
}
.rtn-hm-wrapper a{
    border: 1px solid black;
    padding: 5px;
    border-radius: 3pc;
}
.rtn-btn{
    font-size: 19px;
    position: relative;
    top: 2px;
}
.rm-txt-dec{
    text-decoration: none;
    color: #000;
}
.hi-link:hover{
    color: var(--hyper-color);
}
.blog-lk:hover{
    text-decoration: underline 2px rgb(43, 150, 99);
}
.e-s-3{
    height: 1pc;
}
.odd-blg{
    background-color: rgb(191 191 191);
    color: white;
}
.crt-n-ord-wrapper{
    display: flex;
    justify-content: end;
    width: fit-content;
    position: relative;
    left: 68pc;
}
.sasq-container{
    display: flex;
    justify-content: center;
}
.crt-ord{
    position: relative;
    color: var(--hyper-color);
}
.crt-ord:hover{
    cursor: pointer;
}
.admin-input{
    margin: 5px;
}
.create-new-order-wrapper{
    position: absolute;
    top: 12pc;
    left: 36pc;
    background-color: cadetblue;
    padding: 1pc 5pc;
    border-radius: 1pc;
}
.close-div-x-wrapper{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 3pc;
}
.create-new-order-wrapper input{
    outline: none;
    border: none;
    border-bottom: 1px solid;
}
.cust-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.new-cust{
    background-color: #5c9ac5;
}
.proc-cust{
    background-color: #e5cf4a;
}
.com-cust{
    background-color: #dd3663;
}